# Get editor completions based on the config schema
"$schema" = "https://starship.rs/config-schema.json"

# Inserts a blank line between shell prompts
add_newline = true

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[directory]
truncation_length = 10
truncate_to_repo = false # Might change later

[cmd_duration]
disabled = true

[git_branch]
format = '[$branch(:$remote_branch)]($style) '

[git_metrics]
disabled = false

[git_status]
disabled = true

# Language specific modules: disable

[bun]
disabled = true

[c]
disabled = true

[dotnet]
disabled = true

[haskell]
disabled = true

[lua]
disabled = true

[nodejs]
disabled = true

[ocaml]
disabled = true

[python]
disabled = true

[rust]
disabled = true

[zig]
disabled = true
