layout {
    pane split_direction="vertical" {
        pane {
            cwd "~/compsci/ioccc/"
            command "nvim"
            args "whitespace/prog.c"
        }
        pane {
            cwd "~/compsci/ioccc/whitespace/"
        }
    }
}
